
.sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color:#90acaf;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-radius: 0px 10px 0px 0px;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #576F72;
    color: white;
}

/* .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
} */

div.content {
    margin-left: 300px;
    padding: 1px 16px;
    height: 900px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: start;
        float: none;
    }
    
}

.sidebar input{
    width: 80%;
    border: 1px solid green;
    margin: 10px;
    padding: 0.5rem;
    border-radius: 5px;
}

.add-btn{
    width: 80%;
    padding: 0.3rem 1rem;
    border: 1px green solid;
    border-radius: 5px;
    background-color: whitesmoke;
    color: green;
}

.add-btn:hover{
    background-color: green;
    color: whitesmoke;
    border: 1px whitesmoke solid;
}


.heading-text{
    color:indigo;
    font-weight: 900;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.habit-text{
    color: darkblue;
    font-family: cursive;
    text-align: start;
}

.wklyrept{
    padding: 0.5rem 0.1rem;
    border: 1px green solid;
    border-radius: 5px;
    color: whitesmoke;
}

.wklyrept:hover{
    padding: 0.5rem 0.1rem;
    border: 1px whitesmoke solid;
    border-radius: 5px;
    color: indigo;
}